// Flag-icon-css
// ### http://lipis.github.io/flag-icon-css/ ###
//==========================================================
$flag-icon-css-path: 'flags';
$flag-icon-rect-path: '/4x3';
$flag-icon-square-path: '/1x1';

@import "../../node_modules/flag-icon-css/sass/flag-icon-base";

@include flag-icon(au);
@include flag-icon(at);
@include flag-icon(be);
@include flag-icon(ca);
@include flag-icon(cn);
@include flag-icon(hr);
@include flag-icon(cz);
@include flag-icon(dk);
@include flag-icon(ee);
@include flag-icon(fl);
@include flag-icon(fr);
@include flag-icon(fi);
@include flag-icon(ge);
@include flag-icon(de);
@include flag-icon(gl);
@include flag-icon(is);
@include flag-icon(in);
@include flag-icon(ie);
@include flag-icon(il);
@include flag-icon(it);
@include flag-icon(jp);
@include flag-icon(lv);
@include flag-icon(nl);
@include flag-icon(nz);
@include flag-icon(no);
@include flag-icon(pl);
@include flag-icon(pt);
@include flag-icon(sk);
@include flag-icon(sl);
@include flag-icon(es);
@include flag-icon(se);
@include flag-icon(ch);
@include flag-icon(ua);
@include flag-icon(gb);
@include flag-icon(us);
@include flag-icon(ro);
//==========================================================

// Swiper
//==============================================================================
@import "../../node_modules/swiper/dist/css/swiper";
//==============================================================================

// Ultra lightweight, usable, beautiful autocomplete with zero dependencies.
// http://leaverou.github.io/awesomplete/
//==============================================================================
@import "../../node_modules/awesomplete/awesomplete";
//==============================================================================

// Simplelightbox
// Touch-friendly image lightbox for mobile and desktop with jQuery
// https://github.com/andreknieriem/simplelightbox
//==============================================================================
@import "../../node_modules/simplelightbox/dist/simplelightbox";
//==============================================================================
